.HotAccessoriesMenu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.HotAccessoriesLink {
    text-decoration: none;
    color: rgb(94, 94, 94);
    margin: 1.3vmax;
    padding: 0.5vmax 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.3s ease-in;
}

.HotAccessoriesLink:hover {
    text-decoration: none;
    color: #fd4900;
    border-bottom: 1px solid #fd4900;
}